@page
@model aspnetcorewien.Pages.Modul08.AufgabenPageMitAjaxModel
@{
    ViewData["Title"] = "AufgabenPageMitAjax";
}

<div class="row">
    <div class="col"><h1>Aufgaben Todo</h1></div>
</div>
<div class="row">
    <div class="col">

        <div class="list-group">
            <div class="list-group-item active">
                <h3>Liste Aufgaben</h3>
            </div>
           <div id="grid1"></div>
        </div>
    </div>
    <div class="col">
        <h3>neue Aufgabe</h3>
        <form method="post">
          
            <div class="form-group">
                <label asp-for="NeuAufgabe.Text"></label>
                <input asp-for="NeuAufgabe.Text" placeholder="Aufgabe">

            </div>
            <div class="form-group">
                <label asp-for="NeuAufgabe.Termin"></label>
                <input asp-for="NeuAufgabe.Termin">

            </div>
            <div asp-validation-summary="All"></div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section Scripts
    {
    <script>
        function erledige(id) {
            $('#grid1').load('AufgabenPageMitAjax?handler=erledigt&id=' + id);
           
        }
        erledige(0);
    </script>
}