@page
@model aspnetcorewien.Pages.Modul08.setie1Model
@{
    ViewData["Title"] = "setie1";
}

<h1>setie1</h1>
<form method="post" novalidate>
    <input name="eins" required type="email" />
    <input name="zwei" type="date" />
    <input name="drei" type="range" max="100"/>
    <button type="submit">senden</button>
</form>

