@page
@model aspnetcorewien.Pages.Modul05.BildUploadModel
@{
    ViewData["Title"] = "BildUpload";
}

<h1>BildUpload</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="datei" />
    <input type="submit" />
</form>


