@page
@model aspnetcorewien.Pages.Modul05.ImageListeModel
@{
    ViewData["Title"] = "ImageListe";
}

<h1>ImageListe</h1>
<div class="row">
    @foreach (var item in Model.dateien)
    {
        <div class="col"> <img src="imageloader.ashx?img=@(Model.ClearPath(item))" width="300" height="200" /></div>



    }
</div>
