@page 
@model aspnetcorewien.Pages.Modul05.ResptestModel
@{
    ViewData["Title"] = "Resptest";
}

<h1>Resptest</h1>
<form method="get"  >
    <input name="eins" />
    <button type="submit" asp-page-handler="Umleitung" >neue Seite</button>
</form>

