@page
@model aspnetcorewien.Pages.Modul06.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Customers.CustomerId" />
            <div class="form-group">
                <label asp-for="Customers.CompanyName" class="control-label"></label>
                <input asp-for="Customers.CompanyName" class="form-control" />
                <span asp-validation-for="Customers.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.ContactName" class="control-label"></label>
                <input asp-for="Customers.ContactName" class="form-control" />
                <span asp-validation-for="Customers.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.ContactTitle" class="control-label"></label>
                <input asp-for="Customers.ContactTitle" class="form-control" />
                <span asp-validation-for="Customers.ContactTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Address" class="control-label"></label>
                <input asp-for="Customers.Address" class="form-control" />
                <span asp-validation-for="Customers.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.City" class="control-label"></label>
                <input asp-for="Customers.City" class="form-control" />
                <span asp-validation-for="Customers.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Region" class="control-label"></label>
                <input asp-for="Customers.Region" class="form-control" />
                <span asp-validation-for="Customers.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.PostalCode" class="control-label"></label>
                <input asp-for="Customers.PostalCode" class="form-control" />
                <span asp-validation-for="Customers.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Country" class="control-label"></label>
                <input asp-for="Customers.Country" class="form-control" />
                <span asp-validation-for="Customers.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Phone" class="control-label"></label>
                <input asp-for="Customers.Phone" class="form-control" />
                <span asp-validation-for="Customers.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Customers.Fax" class="control-label"></label>
                <input asp-for="Customers.Fax" class="form-control" />
                <span asp-validation-for="Customers.Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
