@page
@model aspnetcorewien.Pages.modul04.rechnerbootstrapModel
@{
    ViewData["Title"] = "rechnerbootstrap";
}


<div class="row">
    <div class="col-5 jumbotron">
        <h1>rechner </h1>
        <form>
            <div class="form-row">
                <div class="col">
                    <label for="inputPassword6">wert</label>
                    <input type="text" class="form-control" placeholder="Wert">
                </div>
                <div class="col">
                    <label for="inputPassword6">wert</label>
                    <input type="text" class="form-control" placeholder="Wert">
                </div>
            </div>
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary">+</button>
                    <button type="button" class="btn btn-outline-primary">-</button>
                    <button type="button" class="btn btn-outline-primary">%</button>
                    <button type="button" class="btn btn-outline-primary">*</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-7">
    </div>
</div>
